name: Prepare release to crates.io

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish-crate:
    name: Publish Crate
    if: '!github.event.prerelease'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
    #   - name: Login to Crates.io
    #     run: cargo login ${{ secrets.CRATES_IO_TOKEN }}
      - uses: katyo/publish-crates@v2
        with:
            registry-token: ${{ secrets.CRATES_IO_TOKEN }}
            args: --allow-dirty
    #   - name: Publish
    #     uses: actions-rs/cargo@v1
    #     with:
    #       command: publish
  
